extends ./layout.jade

block content
  form(method='post',action='/news/#{newsItem._id}?_method=PUT')
    input(type="hidden",name="_method",value="PUT")
    label(for='title') Title:
    input(type='text',name='title',id='title',value='#{newsItem.title}')
    label(for='author') Author:
    input(type='text',name='author',id='author',value='#{newsItem.author}')
    label(for='body') Body:
    input(type='textarea',name='body',id='body',cols=360,rows=25,value='#{newsItem.body}')
    input(type='submit',name='update',value='update')#update_button
