extends ./layout.jade

mixin renderArticles()
  - var columnSize = 4, elementsInRow = 12/columnSize
  each _, x in articles
    if (x % elementsInRow === 0)
      .row
        each article, y in articles.slice(x, x + elementsInRow)
          .small-12.medium-12.large-4.columns
            .article-item
              .article-image
                img(src="http://lorempixel.com/240/78/cats/", alt="Hello News")
              .article-text
                h3: a(id="article-title", href="/articles/#{article._id}") #{article.title}
                p #{article.body}

block content
  .row.clearfix
    if !user
      a(id="signup-button", href="/signup", class='button radius tiny') Sign up
      a(id="login-button", href="/login", class='button radius tiny') Log in
    else
      a(id="logout-button", href="/logout", class='button radius tiny') Log out
      a(id="post-button", href="/article/new", class='button radius tiny') Post News Article
      a(id="account-link", href="/account") #{user.username}
  .row
    .content-block
      +renderArticles


