extends ./layout.jade

mixin renderNewsItems()
  - var columnSize = 4, elementsInRow = 12/columnSize 
  each _, x in newsContent
    if (x % elementsInRow === 0)
      .row
        each newsItem, y in newsContent.slice(x, x + elementsInRow)
          .small-12.medium-12.large-4.columns
            .news-item
              .news-image
                img(src="http://lorempixel.com/240/78/cats/", alt="Hello News")
              .news-text
                h3 #{newsItem.title}
                p #{newsItem.body}

block content
  .content-block
    +renderNewsItems

