extends ./layout.jade

block content
  .content-block
    .row
      .small-12.medium-12.large-12.columns
        .login-block
          p.flash #{messages}
          form(action="/signup", method="post")
            input(type="text", name="first_name", placeholder="First name")
            input(type="text", name="last_name", placeholder="Last name")
            input(type="email", name="email", placeholder="Email")
            input(type="text", name="username", placeholder="Username")
            input(type="password", name="password", placeholder="Password")
            input(type="password", name="password_confirm", placeholder="Confirm password")
            input(type="submit", value="Sign up", class="login button radius small")
